.headlineSection {
  padding: 5vh 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.newsCard {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 1vh 0;
  border: 1px black solid;
  text-align: center;
}
.newsCard img {
  width: 100%;
}
